.calendar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.calendar {
  position: relative;
  width: 300px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.hours {
  position: relative;
}

.hour {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  line-height: 60px;
  background: #f8f8f8;
}

.activities {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.activity {
  position: absolute;
  left: 5px;
  right: 5px;
  background-color: rgba(255, 165, 0, 0.8);
  color: black;
  padding: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.send-buttom{
  margin: 5px;
}

.get-corrected-button{
  margin: 5px;
}
